<header>
    <h1> <a href="/" >Hi Street Gym <sub>24/7 </sub></a> </h1>
        <!-- Checkbox for toggling the menu -->
         <input type="checkbox"  id="menu-toggle">
         <label for="menu-toggle" class="burger-menu">
         <span>&#9776;</span>
    </label>    

    <!-- Navigation -->
    <nav>
        <!-- <a href="#">Clubs</a>
        <a href="#">Classes</a> -->
        <a href="/posts">Blog</a>
        <a href="/register">Register</a>
        <a href="/authenticate">Login</a>
    </nav>

</header>